html, body, button, h3, p, span {
    font-family: 'Comic Sans MS', cursive;
}

h3 {
    cursor: pointer;
}

h3:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

dialog {
    min-width: 40vw;
}

dialog > header {
    justify-content: space-between;
    display: flex;
}

section {
    margin: 1em;
}

button {
    border-width: 1px;
    font-size: 1.1rem;
    padding: 0 5px;
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
}

ul li {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

ul > li > ul {
    list-style-type: square;
}

ul > li > ul > li > ul {
    list-style-type: circle;
}

ul > li > ul > li {
    display: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 80vw;
}

.primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.primary:hover {
    background-color: #286090;
    border-color: #204d74;
}

.show-list > li {
    display: list-item;
}

.active {
    background-color: #337ab7;
    color: #fff;
}